body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #515151;
    margin: 0;
    padding: 0;   
}
.background-color{
    background-image: url(images/Object.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-around;/*equal space around each item*/
    align-items: center;/*center items vertically*/
}
.smile-logo{
    margin-top: 10px;
}
ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-top:  16px;
    padding: 0;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}
.thecenter{
    text-align: center;
}
.getschooled{
    font-size: 80px;
    color: #fff;
    margin: 130px 0 0;
    font-weight: bold;
}
.sgl{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: bold;
    margin-top: 15px;
}
.register{
    background-color: rgb(167, 67, 187);
    border-radius: 30px;
    border: none;
    padding: 17px;
    color: #fff;
    padding: 15px 30px;
    margin-top: 40px;
    box-shadow: 0px 0px 9px 1px black;
}
.learn{
    margin-top: 130px;
    font-weight: normal;
}
.learn-span{
    color: rgb(167, 67, 187);
    font-weight: bold;
}
.thepros{
    text-align: center;
}
.pros{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: 90px;
    margin-bottom: 20px;
}
.prospics{
    border-radius: 100px;
}



.backgr-color{
    background-color: #C271FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.quote{
    color: #ffffff;
    margin-left: -200px;
}
.quots{
    margin: 0px;
}




.most-popular{
    text-align: center;
}
.popular{
    color: #C271FF;
}
.rating-sect{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding: 20px 0px;
    justify-content: space-around;
}
.video-list{
    position: relative;
    padding: 20px;
    width: 260px;
    border-radius:12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, 1);
}
.play{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    z-index: 2;
}

.Phillip{
    display: flex;
    justify-content: start;
    gap: 20px;
    color: #C271FF;
}
.Phillip-pic{
    width: 50px;
    height: 50px;
}
.rating{
    display: flex;
    justify-content: start;
    gap: 90px;
    color: #C271Ff;
}
.rating-pic{
    margin-top: 20px;
}
.dia{
    color: #000;
}
.lorem1{
    color: gray;
}



.freeee{
    color: #C271Ff;
}
.membership{
    text-align: center;

}
.freemember{
    background-color: #071629;
    padding: 30px;
    padding-bottom: 50px;
    color: #ffffff;
}
.Loremm{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 90px;
}
.smiley{
    text-align: center;
}
.forfree{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
    color: #fff;
    background-color:#C271Ff ;
}




.faq{
    text-align: center;
    font-weight: 200;
    font-size: 50px;
    color: #071629;
}
.how1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.how2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.ipsum{
    width: 450px;
    color: grey;
}
.colorii{
    color: #071629;
}